.center
{
    text-align: center;
}

.margin-auto
{
    margin: auto;
}

html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}

.image-style{
    background-image: url('../../assets/img/doctor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100%;
}

.fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}