<div class="row">
    <div class="col-md-2" style="background-color: rgba(0, 0, 0, 0.466);height: 770px;">
        <br>
        <a routerLink='/editadminprofile'>
            <h5 style="color: white;padding-left: 8%;">
                Edit Profile
            </h5>
        </a><br>
        <a routerLink='/listallappointment'>
            <h5 style="color: white;padding-left: 8%;">
                List of Appointments
            </h5>
        </a><br>
        <a routerLink='/doctorslist'>
            <h5 style="color: white;padding-left: 8%;">
                List of Doctors    
            </h5>
        </a><br>

        <a routerLink='/newdoctor'>
            <h5 style="color: white;padding-left: 8%;">
                Add new Doctor    
            </h5>
        </a><br>

    </div>
    <div class="col-md-10" style="padding-left: 10%;">
    <br>
        <h4 style="padding-left: 20%;">Doctors</h4>
        <table class="table table-hover" style="width: 800px;">
            <thead>
                <tr>
                    <th style="text-align: center;">Doctor Name</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Mobile No.</th>
                    <th style="text-align: center;">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dr of doctors">
                    <td style="text-align: center;">Dr. {{dr.firstName}} &nbsp; {{dr.lastName}}</td>
                    <td style="text-align: center;">{{dr.email}}</td>
                    <td style="text-align: center;">{{dr.mobileNo}}</td>
                    <td style="text-align: center;">{{dr.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>