<div class="row" style="padding-top:-10px; margin-top:-20px">
    <div class="col-md-2" style="background-color: rgba(0, 0, 0, 0.466);height: 600px;">
       
        <a routerLink='/newappointment'>
            <h4 style="color: white;padding-left: 8%;">
                Book New Appointment
            </h4>
        </a><br>
       
        <a routerLink='/edit/:No'>
            <h4 style="color: white;padding-left: 8%;">
                Edit Profile
            </h4>
        </a><br>
        <a routerLink='/changepassword'>
            <h4 style="color: white;padding-left: 8%;">
                Change password
            </h4>
        </a><br>
        <a routerLink='/reports'>
            <h4 style="color: white;padding-left: 8%;">
                Check Reports    
            </h4>
        </a><br>

        <a routerLink='/checkuserappointment'>
            <h4 style="color: white;padding-left: 8%;">
                Appointments    
            </h4>
        </a>
    </div>
    <div class="col-md-10" style="padding-left: 20%;">
        <form  (ngSubmit)="update()">
            <legend style="padding-left: 20%;"><u><b>Change Password</b></u></legend>
            
            <div style="width: 500px;" class="form-group">
                <label for="">Enter current Password:</label>
                <input type="text" class="form-control" id="curpasswd" name="curpasswd" placeholder="Enter current password" [(ngModel)]="curpasswd">
            </div>
            
            <div style="width: 500px;" class="form-group">
                <label for="">New Password:</label>
                <input type="text" class="form-control" id="passwd" name="passwd" placeholder="Enter new password" [(ngModel)]="pass">
            </div>

            <div style="width: 500px;" class="form-group">
                <label for="">Confirm Password:</label>
                <input type="text" class="form-control" id="cpasswd" name="cpasswd" placeholder="Confirm password" [(ngModel)]="cpass">
            </div>
            <button type="submit" style="background-color: rgb(51, 49, 49);" class="btn btn-primary">Update</button>&nbsp;
            <button type="reset" style="background-color: crimson;"  class="btn btn-primary">Cancel</button>
        </form>
        
    </div>
</div>